* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #5588a3;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius:3px;
    width: 400px;
}

.search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
}

.menu-bar {
    width: 30px;
    height: 3px;
    background-color: white;
}

main {
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
}

.left-sidebar, .right-sidebar {
    width: 200px;
    background-color: #5588a3;
}

.content {
    flex: 1;
    background-color: white;
    padding: 20px;
    margin: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section {
    display: flex;
    align-items: center;
}


hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-color: #ccc;
}
